/*animasi slideshow*/
/* menentukan keyframes dengan cara, waktu muncul perfoto / total waktu muncul semua foto, contoh disini ada 3 foto, dengan masing masing foto 6 detik, total waktu semua foto 18 detik, jadi perhitungan per gambarnya, 6/18 = 0.3333, 0.33 dibagi 2 untuk berapa lama gambar kita akan muncul pertama kali dalam keyframe, lalu angka 0.33 itu untuk gambar mulai hilang */
@keyframes slideshowGambar { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1; /*setengah dari hasil (33%)*/
         animation-timing-function: ease-out; }
    33% { opacity: 1 } /* hasil 0,33 jadi 33%*/
    50% { opacity: 0 }
    100% { opacity: 0 }
}
@-webkit-keyframes slideshowGambar { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1; 
         animation-timing-function: ease-out; }
    33% { opacity: 1 } 
    50% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes slideshowGambar { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1;
         animation-timing-function: ease-out; }
    33% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes slideshowGambar { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1;
         animation-timing-function: ease-out; }
    33% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes slideshowGambar { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1;
         animation-timing-function: ease-out; }
    33% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 0 }
}
.no-cssanimations div.slideshow li span{
	opacity: 1;
}
div.slideshow, div.slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    left: 0px;
    z-index: -1; 
}
div.slideshow:after { 
    content: '';
    background: transparent url(../asset/image/pattern.png) repeat top left; 
}
div.slideshow li{
    list-style: none;
}
div.slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: slideshowGambar 18s linear infinite 0s;
    -moz-animation: slideshowGambar 18s linear infinite 0s;
    -o-animation: slideshowGambar 18s linear infinite 0s;
    -ms-animation: slideshowGambar 18s linear infinite 0s;
    animation: slideshowGambar 18s linear infinite 0s; 
}
div.slideshow li:nth-child(1) span { 
    background-image: url(../asset/image/image1.jpg) 
}
div.slideshow li:nth-child(2) span { 
    background-image: url(../asset/image/image2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
div.slideshow li:nth-child(3) span { 
    background-image: url(../asset/image/image3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
div.left{
    left: 0;
}
div.right{
    right: 0;
}
div.sidebar{
    position: fixed;
    z-index: -1;
    top: 60px; bottom: 0; 
    width: 40px;
    background-color: #f2f2f2;
}
div.sidebar h4 {
    display: inline;
    position: absolute;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center
    font-family: 'Voltaire', sans-serif;
    font-family: 'Share Tech', sans-serif;
}
div.left h4{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #dac6a0; 
}
div.right h4{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #dac6a0; 
}