div.content{
	position: absolute;
	z-index: -1;
	top: 60px; bottom: 0; left: 75px; right: 75px;
	font-family: 'Montserrat', sans-serif;
}
div.content h2.title{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #1c4928;
}
div.portfolio-row{
	margin-top: 20px;
	height: 300px;
}
div.portfolio-row:last-child{
	margin-bottom: 20px;
}
div.portfolio-row div.portfolio-column{
	display: inline-block;
	width: 33.333333%;
	width: calc(100%/3);
	height: 100%;
	vertical-align: middle;
	overflow: hidden;
	box-sizing: border-box;
}
div.portfolio-row div.portfolio-column:first-child{
	padding-right: 10px;
}
div.portfolio-row div.portfolio-column:nth-child(2){
	padding: 0 10px;
}
div.portfolio-row div.portfolio-column:last-child{
	padding-left: 10px;
}
div.portfolio-row div.portfolio-column div.img-container{
	position: relative;
	height: 300px;
	background-color: #000;
}
div.portfolio-row div.portfolio-column img{
	position: absolute;
	width: auto;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	box-sizing: border-box;
}
div.portfolio-row div.portfolio-column div.desc{
	display: none;
	position: absolute;
	right: 0; left: 0;top: 0; bottom: 0;
	height: auto;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
}
div.portfolio-row div.portfolio-column div.desc div.desc-wrapper{
	position: absolute;
	width: auto;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	color: #edd899;
	text-align: center;
}
div.portfolio-row div.portfolio-column div.desc div.desc-wrapper h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}
div.portfolio-row div.portfolio-column div.desc div.desc-wrapper p{
    font-family:'Helvetica 57 Condensed';
    font-weight: lighter;
}
div.portfolio-row div.portfolio-column div.img-container:hover div.desc{
	display: block;
}
@media only screen and (max-width: 720px) {
	div.content{
		top: 60px; bottom: 0; left: 0; right: 0;
	}
	div.content h2.title{
		font-size: 30px;
		margin: 20px 0;
	}
	div.portfolio-row{
		margin: 0 auto;
		height: auto;
		width: 80%
	}
	div.portfolio-row:first-child{
		margin-top: 20px;
	}
	div.portfolio-row:last-child{
		margin-bottom: 0;
	}
	div.portfolio-row div.portfolio-column{
		width: 100%;
		margin-bottom: 20px;
	}
	div.portfolio-row div.portfolio-column:first-child{
		padding-right: 0;
	}
	div.portfolio-row div.portfolio-column:nth-child(2){
		padding: 0;
	}
	div.portfolio-row div.portfolio-column:last-child{
		padding-left: 0;
	}
	div.portfolio-row div.portfolio-column div.img-container{
		height: 170px;
	}
}