div.left{
    left: 0;
}
div.right{
    right: 0;
}
div.sidebar{
    position: fixed;
    z-index: -1;
    top: 60px; bottom: 0; 
    width: 55px;
    background-color: rgba(237, 216, 153, 0.85);
}
div.sidebar h4 {
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 14px;
    letter-spacing: 5px;
    font-family:'Helvetica 57 Condensed';
    color: #000; 
}
div.left h4{
    width: 160px;
    margin-left: -80px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
div.right h4{
    width: 420px;
    margin-left: -210px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}